node_modules/

# Python
__pychache__

# Editor
.vscode
.vs
Easy3DViewer.njsproj.user

# Data
public/test_data/*
public/external_data/*

# Generated/Generating file
config.json
index.html
build
obj

# External
public/external

# Node Related
package.json
package-lock.json