#header.header
    #title.title(style="height:50px")
        #title_left.title_left 
            image(src=`${git_root_file}/images/slogan.svg`, id="title_img")
        #title_left.title_middle
        #title_right.title_right Haonan Chang