html {
    -webkit-touch-callout: none;
    background: var(--ne-global-background, #fbfcfe);
    box-sizing: var(--ne-global-box-sizing, border-box);
    color: var(--ne-global-foreground, #000);
    font-size: var(--ne-root-font-size, 100%);
    line-height: var(--ne-basic-line-height, 1.5)
}

body {
    font-family: var(--ne-body-font-family, sans-serif);
    font-size: var(--ne-body-font-size, 1.125rem)
}

:focus {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color
}

[tabindex="-1"] {
    outline: none
}

*,
:after,
:before {
    box-sizing: inherit
}

::selection {
    background-color: var(--ne-selection-background, #8a95e5);
    color: var(--ne-selection-foreground, #fff)
}

h1 {
    font-size: calc(var(--ne-body-font-size, 1.125rem)*var(--ne-headings-scale, 1.25)*var(--ne-headings-scale, 1.25)*var(--ne-headings-scale, 1.25)*var(--ne-headings-scale, 1.25)*var(--ne-headings-scale, 1.25))
}

h1,
h2 {
    line-height: var(--ne-headings-line-height, 1.1)
}

h2 {
    font-size: calc(var(--ne-body-font-size, 1.125rem)*var(--ne-headings-scale, 1.25)*var(--ne-headings-scale, 1.25)*var(--ne-headings-scale, 1.25)*var(--ne-headings-scale, 1.25))
}

h3 {
    font-size: calc(var(--ne-body-font-size, 1.125rem)*var(--ne-headings-scale, 1.25)*var(--ne-headings-scale, 1.25)*var(--ne-headings-scale, 1.25))
}

h3,
h4 {
    line-height: var(--ne-headings-line-height, 1.1)
}

h4 {
    font-size: calc(var(--ne-body-font-size, 1.125rem)*var(--ne-headings-scale, 1.25)*var(--ne-headings-scale, 1.25))
}

h5 {
    font-size: calc(var(--ne-body-font-size, 1.125rem)*var(--ne-headings-scale, 1.25))
}

h5,
h6 {
    line-height: var(--ne-headings-line-height, 1.1)
}

h6 {
    font-size: var(--ne-body-font-size, 1.125rem)
}

dd,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
hr,
ol,
p,
pre,
table,
ul {
    margin-top: 0
}

[ne-prose]>dd,
[ne-prose]>fieldset,
[ne-prose]>figure,
[ne-prose]>h1,
[ne-prose]>h2,
[ne-prose]>h3,
[ne-prose]>h4,
[ne-prose]>h5,
[ne-prose]>h6,
[ne-prose]>hgroup,
[ne-prose]>hr,
[ne-prose]>ol,
[ne-prose]>p,
[ne-prose]>pre,
[ne-prose]>table,
[ne-prose]>ul {
    margin-bottom: var(--ne-vertical-leading, 1.5em);
    margin-top: var(--ne-vertical-leading, 1.5em)
}

[ne-prose]>h1,
[ne-prose]>h2,
[ne-prose]>h3,
[ne-prose]>h4,
[ne-prose]>h5,
[ne-prose]>h6 {
    margin-bottom: 0
}

[ne-prose]>h1+p,
[ne-prose]>h2+p,
[ne-prose]>h3+p,
[ne-prose]>h4+p,
[ne-prose]>h5+p,
[ne-prose]>h6+p {
    margin-top: calc(var(--ne-vertical-leading, 1.5em)/2)
}

blockquote {
    font-size: var(--ne-quote-font-size, 2rem);
    letter-spacing: .03em;
    line-height: calc(var(--ne-basic-line-height, 1.5)/1.2);
    margin: 2.5em 0;
    padding: 0
}

blockquote>* {
    font-size: inherit
}

blockquote cite {
    color: var(--ne-cite-foreground, #05f);
    display: block;
    font-size: var(--ne-cite-font-size, 1rem);
    margin-top: calc(var(--ne-cite-font-size, 1rem))
}

blockquote cite:before {
    content: var(--ne-cite-start-sign, "—");
    margin-right: 4px
}

a:link,
a:visited {
    color: var(--ne-links-foreground, #05f);
    transition: color .1s linear
}

a:link:hover,
a:visited:hover {
    color: var(--ne-links-active-foreground, #3649d3)
}

del {
    background-color: var(--ne-del-background, #ffe0e0);
    box-shadow: 0 0 0 2px var(--ne-del-background, #ffe0e0);
    color: var(--ne-del-foreground, #8a1541)
}

del,
ins {
    padding: 2px 4px
}

ins {
    background-color: var(--ne-ins-background, #c2ffd4);
    box-shadow: 0 0 0 2px var(--ne-ins-background, #c2ffd4);
    color: var(--ne-ins-foreground, #015b3e);
    text-decoration: none
}

address {
    font-style: normal;
    line-height: inherit
}

dd {
    margin: 0;
    padding: 0
}

ol,
ul {
    padding-left: 1rem
}

kbd {
    border: 1px solid var(--ne-kbd-color, #f1f2f8);
    border-radius: var(--ne-kbd-border-radius, 4px);
    box-shadow: 0 3px 0 var(--ne-kbd-color, #f1f2f8), 0 3px 10px rgba(0, 0, 0, .05);
    padding: 2px 4px
}

mark {
    background: var(--ne-mark-background, #fff533);
    box-shadow: 0 0 0 2px var(--ne-mark-background, #fff533);
    color: var(--ne-mark-foreground, #852c00)
}

img {
    max-width: 100%
}

p code {
    background-color: var(--ne-inline-code-background, #f1f2f4);
    border-radius: var(--ne-inline-code-border-radius, 2px);
    display: inline-block;
    margin: 2px 0;
    padding: 0 4px
}

a[ne-button],
button {
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    align-items: center;
    appearance: none;
    background: var(--ne-button-background, #05f);
    border: var(--ne-button-border, 0);
    border-radius: var(--ne-button-border-radius, 10px);
    box-shadow: var(--ne-button-shadow, 0 1px 2px rgba(0, 0, 0, .16));
    color: var(--ne-button-foreground, #fff);
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: var(--ne-button-font-size, inherit);
    justify-content: center;
    line-height: var(--ne-button-line-height, 1);
    margin: 0;
    padding: var(--ne-button-y-padding, .7em) var(--ne-button-x-padding, 1em);
    text-decoration: initial;
    user-select: none;
    white-space: nowrap
}

a[ne-button]:hover,
button:hover {
    background: var(--ne-button-hover-background, #1a66ff);
    border: var(--ne-button-hover-border, 0);
    color: var(--ne-button-hover-foreground, #fff)
}

a[ne-button]:active,
button:active {
    background: var(--ne-button-active-background, #004ce6);
    border: var(--ne-button-active-border, 0);
    color: var(--ne-button-active-foreground, #fff)
}

a[ne-button]:disabled,
a[ne-button]:disabled:active,
a[ne-button][aria-disabled=true],
a[ne-button][aria-disabled=true]:active,
button:disabled,
button:disabled:active,
button[aria-disabled=true],
button[aria-disabled=true]:active {
    background: var(--ne-button-disabled-background, #f5f6ff);
    border: var(--ne-button-disabled-border, 0);
    box-shadow: none;
    color: var(--ne-button-disabled-foreground, #d2d5ea);
    cursor: not-allowed
}

a[ne-button] i,
a[ne-button] svg,
button i,
button svg {
    color: inherit;
    fill: currentColor;
    font-style: normal;
    height: var(--ne-button-icon-size, 1em);
    margin-inline-end: var(--ne-button-icon-margin, 1em)
}

input[type=checkbox],
input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    background: var(--ne-checkradio-background, #e4e5f2);
    border: var(--ne-checkradio-border, none);
    border-radius: var(--ne-checkradio-border-radius, 6px);
    color: var(--ne-checkradio-color, #05f);
    cursor: pointer;
    height: var(--ne-checkradio-size, 22px);
    position: relative;
    vertical-align: bottom;
    width: var(--ne-checkradio-size, 22px)
}

input[type=checkbox]:before,
input[type=radio]:before {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 0;
    content: "";
    height: 6px;
    left: 70%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, calc(-50% - 2px)) rotate(-45deg);
    transition: transform .1s;
    width: 13px
}

input[type=checkbox]:not(:disabled):active,
input[type=radio]:not(:disabled):active {
    border-color: var(--ne-checkradio-color, #05f)
}

input[type=checkbox]:checked,
input[type=radio]:checked {
     content: "\2717";
    animation: splash .3s ease-out;
    background: var(--ne-checkradio-color, #05f);
    border-color: var(--ne-checkradio-color, #05f);
    box-shadow: var(--ne-checkradio-shadow, 0 1px 1px rgba(0, 0, 0, .2));
    color: var(--ne-checkradio-tick-color, var(--ne-global-background, #fff));
    /* content: "\2713"; */
}

input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
    opacity: 1
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none
}

input[type=checkbox]:indeterminate,
input[type=radio]:indeterminate {
    background: var(--ne-checkradio-color, #05f);
    border-color: var(--ne-checkradio-color, #05f);
    box-shadow: var(--ne-checkradio-shadow, 0 1px 1px rgba(0, 0, 0, .2));
    color: var(--ne-checkradio-tick-color, var(--ne-global-background, #fff))
}

input[type=checkbox]:indeterminate:before,
input[type=radio]:indeterminate:before {
    height: 2px;
    opacity: 1;
    transform: translate(-50%, -50%);
    width: 8px
}

input[type=radio] {
    border-radius: 100%
}

input[type=radio]:before {
    background: currentColor;
    border: 0;
    border-radius: 100%;
    height: calc(var(--ne-checkradio-size, 22px)/2);
    transform: translate(-50%, -50%);
    width: calc(var(--ne-checkradio-size, 22px)/2)
}

@keyframes splash {
    0% {
        transform: scale(.3)
    }

    20% {
        transform: scale(1.1)
    }

    40% {
        transform: scale(.9)
    }

    60% {
        opacity: unset;
        transform: scale(1.03)
    }

    80% {
        transform: scale(.97)
    }
}

pre {
    background: var(--ne-code-background, transparent);
    border: var(--ne-code-border, 1px solid #e3e3e3);
    border-radius: var(--ne-code-border-radius, 5px);
    color: var(--ne-code-foreground, #737b8c);
    font-family: var(--ne-code-font-family, "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace);
    font-size: var(--ne-code-font-size, .875rem);
    margin: 0;
    overflow-x: auto;
    padding: var(--ne-code-y-padding, 1.25rem) var(--ne-code-x-padding, 1.5rem);
    tab-size: var(--ne-code-tab-size, 1.5rem);
    white-space: pre-wrap;
    word-wrap: normal
}

pre code {
    background: transparent;
    border: none;
    padding: 0
}

code,
pre code {
    color: inherit;
    white-space: pre
}

code {
    font: inherit, var(--ne-code-font-family, "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace)
}

input[type=color] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: var(--ne-color-border-radius, 100%);
    height: var(--ne-color-height, 24px);
    padding: 0;
    width: var(--ne-color-width, 24px)
}

input[type=color]::-moz-focus-inner {
    border: 0
}

input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0
}

input[type=color]::-moz-color-swatch {
    -moz-transition: box-shadow .1s ease-out, transform .1s ease-out;
    border: var(--ne-color-border, 0);
    border-radius: var(--ne-color-border-radius, 100%);
    transition: box-shadow .1s ease-out, transform .1s ease-out
}

input[type=color]::-webkit-color-swatch {
    border: var(--ne-color-border, 0);
    border-radius: var(--ne-color-border-radius, 100%)
}

input[type=color]:active::-webkit-color-swatch,
input[type=color]:focus::-webkit-color-swatch {
    box-shadow: inset 0 0 0 2px env(--outlineColor)
}

details {
    -webkit-overflow-scrolling: touch;
    background: var(--ne-details-background, #fbfcfe);
    display: block;
    max-height: var(--ne-details-max-height, 300px);
    overflow: var(--ne-details-overflow, auto);
    overscroll-behavior: contain;
    position: relative;
    transform: translateZ(0)
}

details * {
    box-sizing: var(--ne-global-box-sizing, border-box)
}

[ne-details-group]>details:not(:last-of-type) {
    border-bottom: var(--ne-details-separator-border, 2px solid #e5eaf0)
}

details summary {
    -webkit-user-select: none;
    background: var(--ne-details-summary-background, #fbfcfe);
    color: var(--ne-details-summary-foreground, inherit);
    cursor: pointer;
    display: list-item;
    font-size: var(--ne-details-summary-font-size, initial);
    line-height: 1;
    overflow: hidden;
    padding-block-end: var(--ne-details-summary-padding, 1rem);
    padding-block-start: var(--ne-details-summary-padding, 1rem);
    padding-inline-end: var(--ne-details-summary-padding, 1rem);
    padding-inline-start: 32px;
    position: var(--ne-details-summary-position, sticky);
    text-overflow: ellipsis;
    top: 0;
    touch-action: manipulation;
    transition: color .2s;
    user-select: none;
    white-space: nowrap;
    z-index: 1
}

details summary::marker {
    content: ""
}

details summary:before {
    background: var(--ne-details-icon, url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z" fill="currentColor"/></svg>')) no-repeat 0 0/cover;
    content: "";
    height: var(--ne-details-icon-size, .75rem);
    left: 12px;
    margin-top: calc(-1*var(--ne-details-icon-size, .75rem)/2);
    position: absolute;
    top: 50%;
    transform: rotate(-90deg);
    transform-box: fill-box;
    transform-origin: 50% center;
    transition: transform .2s ease-out;
    width: var(--ne-details-icon-size, .75rem)
}

details summary::-webkit-details-marker {
    display: none
}

details summary:focus {
    border-radius: inherit;
    outline-offset: -5px
}

details[open]>:not(summary) {
    animation: fadeInDown .6s cubic-bezier(.075, .82, .165, 1)
}

details[open] summary {
    color: var(--ne-details-summary-open-color, #05f)
}

details[open] summary:before {
    transform: none
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-5px)
    }

    to {
        opacity: 1;
        transform: none
    }
}

dialog {
    background: var(--ne-dialog-background, #fff);
    border: var(--ne-dialog-border, 0);
    border-radius: var(--ne-dialog-border-radius, 5px);
    bottom: 50%;
    box-shadow: var(--ne-dialog-shadow, 0 19px 38px 0 rgba(0, 0, 0, .16));
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    max-width: var(--ne-dialog-max-width, 40rem);
    padding: var(--ne-dialog-y-padding, 2rem) var(--ne-dialog-x-padding, 2rem);
    position: fixed;
    top: 50%;
    width: -moz-fit-content;
    width: fit-content
}

dialog:not([open]) {
    display: none
}

dialog[open] {
    animation: modal-show .3s 1
}

dialog::-webkit-backdrop {
    background: var(--ne-dialog-backdrop-color, rgba(0, 0, 0, .3))
}

dialog::backdrop {
    background: var(--ne-dialog-backdrop-color, rgba(0, 0, 0, .3))
}

@keyframes modal-show {
    0% {
        opacity: 0;
        transform: translateY(32px)
    }

    to {
        opacity: 1;
        transform: none
    }
}

fieldset {
    border: 0;
    margin-left: 0;
    min-width: 0
}

fieldset,
label,
legend {
    padding: 0
}

legend {
    color: inherit;
    display: block;
    line-height: inherit;
    max-width: 100%;
    white-space: normal;
    width: 100%
}

output {
    display: inline-block
}

hr {
    background: var(--ne-hr-background, #e4e5f2);
    border: 0;
    display: block;
    height: var(--ne-hr-height, 2px);
    margin-bottom: var(--ne-hr-y-margin, 50px);
    margin-top: var(--ne-hr-y-margin, 50px);
    width: 100%
}

meter {
    background: var(--ne-meter-background, #e4e5f2);
    border-radius: var(--ne-meter-border-radius, 5px);
    box-shadow: inset 0 0 0 var(--ne-meter-border-width, 1px) var(--ne-meter-border-color, transparent);
    height: var(--ne-meter-height, 8px);
    overflow: hidden;
    vertical-align: middle
}

meter::-webkit-meter-bar {
    background: var(--ne-meter-background, #e4e5f2);
    border: 0;
    border-radius: var(--ne-meter-border-radius, 5px);
    box-shadow: inset 0 0 0 var(--ne-meter-border-width, 1px) var(--ne-meter-border-color, transparent);
    height: var(--ne-meter-height, 8px);
    overflow: hidden
}

meter::-webkit-meter-even-less-good-value {
    background: var(--ne-meter-weak-color, #ff4d5e)
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--ne-meter-weak-color, #ff4d5e)
}

meter::-webkit-meter-suboptimum-value {
    background: var(--ne-meter-good-color, #ffbe33)
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--ne-meter-good-color, #ffbe33)
}

meter::-webkit-meter-optimum-value {
    background: var(--ne-meter-strong-color, #25e47e)
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: var(--ne-meter-strong-color, #25e47e)
}

progress {
    -webkit-appearance: none;
    appearance: none;
    background: var(--ne-progress-background, #e4e5f2);
    border: none;
    border-radius: var(--ne-progress-border-radius, 1rem);
    box-shadow: var(--ne-progress-shadow, none);
    display: block;
    height: var(--ne-progress-height, 1rem);
    overflow: hidden;
    position: relative;
    vertical-align: initial;
    width: 100%
}

progress::-webkit-progress-bar {
    background: var(--ne-progress-background, #e4e5f2);
    border-radius: var(--ne-progress-border-radius, 1rem);
    box-shadow: var(--ne-progress-shadow, none)
}

progress::-webkit-progress-value {
    -webkit-transition: width .2s ease-out;
    background: var(--ne-progress-filled-color, #05f);
    border-radius: var(--ne-progress-border-radius, 1rem);
    transition: width .2s ease-out
}

progress::-moz-progress-bar {
    background: var(--ne-progress-filled-color, #05f);
    border-radius: var(--ne-progress-border-radius, 1rem)
}

progress:indeterminate:after {
    animation: progress-stripes .4s linear infinite;
    background: radial-gradient(var(--ne-progress-filled-color, #05f) 20%, transparent 30%) 0 0/var(--ne-progress-height, 1rem) var(--ne-progress-height, 1rem), radial-gradient(var(--ne-progress-filled-color, #05f) 30%, transparent 0) 0 0/var(--ne-progress-height, 1rem) var(--ne-progress-height, 1rem) var(--ne-progress-background, #e4e5f2);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

progress:indeterminate::-webkit-progress-bar {
    animation: progress-stripes .4s linear infinite;
    background: radial-gradient(var(--ne-progress-filled-color, #05f) 20%, transparent 30%) 0 0/var(--ne-progress-height, 1rem) var(--ne-progress-height, 1rem), radial-gradient(var(--ne-progress-filled-color, #05f) 30%, transparent 0) 0 0/var(--ne-progress-height, 1rem) var(--ne-progress-height, 1rem) var(--ne-progress-background, #e4e5f2);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

progress:indeterminate::-moz-progress-bar {
    animation: progress-stripes .4s linear infinite;
    background: radial-gradient(var(--ne-progress-filled-color, #05f) 20%, transparent 30%) 0 0/var(--ne-progress-height, 1rem) var(--ne-progress-height, 1rem), radial-gradient(var(--ne-progress-filled-color, #05f) 30%, transparent 0) 0 0/var(--ne-progress-height, 1rem) var(--ne-progress-height, 1rem) var(--ne-progress-background, #e4e5f2);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

@keyframes progress-stripes {
    0% {
        background-position: 0 0
    }

    to {
        background-position: var(--ne-progress-height, 1rem) 0
    }
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: var(--ne-range-border-radius, 24px);
    height: var(--ne-range-height, 24px);
    outline: 0;
    overflow: hidden;
    width: var(--ne-range-width, 100%)
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-transition: background-color .2s ease-out;
    background: var(--ne-range-progress-color, #fff);
    border-radius: var(--ne-range-border-radius, 24px);
    box-shadow: inset 0 0 0 2px var(--ne-range-background, #e4e5f2);
    cursor: pointer;
    height: var(--ne-range-height, 24px);
    transition: background-color .2s ease-out;
    width: 100%
}

input[type=range]::-moz-range-track {
    -moz-transition: background-color .2s ease-out;
    background: var(--ne-range-progress-color, #fff);
    border-radius: var(--ne-range-border-radius, 24px);
    box-shadow: inset 0 0 0 2px var(--ne-range-background, #e4e5f2);
    cursor: pointer;
    height: var(--ne-range-height, 24px);
    transition: background-color .2s ease-out;
    width: 100%
}

input[type=range]::-moz-focus-outer {
    border: 0
}

input[type=range]:active::-webkit-slider-runnable-track {
    background: var(--ne-range-active-progress-color, #fff)
}

input[type=range]:active::-moz-range-track {
    background: var(--ne-range-active-progress-color, #fff)
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-transition: box-shadow .1s ease-out, background-color .1s ease-out;
    appearance: none;
    background-color: var(--ne-range-thumb-background, #05f);
    border: 0;
    border-radius: var(--ne-range-thumb-radius, 100%);
    box-shadow: 0 0 0 2px var(--ne-range-background, #e4e5f2), calc(9999px + var(--ne-range-thumb-width, 24px)/2) 0 0 9999px var(--ne-range-background, #e4e5f2);
    height: var(--ne-range-thumb-height, 24px);
    outline-offset: -2px;
    transition: box-shadow .1s ease-out, background-color .1s ease-out;
    width: var(--ne-range-thumb-width, 24px)
}

input[type=range]::-webkit-slider-thumb:hover {
    cursor: grab
}

input[type=range]::-webkit-slider-thumb:active,
input[type=range]::-webkit-slider-thumb:focus {
    background-color: var(--ne-range-thumb-active-background, #05f);
    cursor: grabbing
}

input[type=range]::-webkit-slider-thumb {
    margin-top: calc(0.5*(var(--ne-range-height, 24px) - var(--ne-range-thumb-height, 24px)))
}

input[type=range]::-moz-range-thumb {
    -moz-transition: box-shadow .1s ease-out, background-color .1s ease-out;
    appearance: none;
    background-color: var(--ne-range-thumb-background, #05f);
    border: 0;
    border-radius: var(--ne-range-thumb-radius, 100%);
    box-shadow: 0 0 0 2px var(--ne-range-background, #e4e5f2), calc(9999px + var(--ne-range-thumb-width, 24px)/2) 0 0 9999px var(--ne-range-background, #e4e5f2);
    height: var(--ne-range-thumb-height, 24px);
    outline-offset: -2px;
    transition: box-shadow .1s ease-out, background-color .1s ease-out;
    width: var(--ne-range-thumb-width, 24px)
}

input[type=range]::-moz-range-thumb:hover {
    cursor: grab
}

input[type=range]::-moz-range-thumb:active,
input[type=range]::-moz-range-thumb:focus {
    background-color: var(--ne-range-thumb-active-background, #05f);
    cursor: grabbing
}

input[type=range]:active::-webkit-slider-thumb {
    background-color: var(--ne-range-thumb-active-background, #05f)
}

input[type=range]:active::-moz-range-thumb {
    background-color: var(--ne-range-thumb-active-background, #05f)
}

input[type=range]:not(:active):focus::-webkit-slider-thumb {
    background-color: var(--ne-range-thumb-active-background, #05f);
    box-shadow: 0 0 0 2px var(--ne-range-background, #e4e5f2), calc(9999px + var(--ne-range-thumb-width, 24px)/2) 0 0 9999px var(--ne-range-background, #e4e5f2);
    outline: solid env(--outlineColor)
}

input[type=range]:not(:active):focus::-moz-range-thumb {
    background-color: var(--ne-range-thumb-active-background, #05f);
    box-shadow: 0 0 0 2px var(--ne-range-background, #e4e5f2), calc(9999px + var(--ne-range-thumb-width, 24px)/2) 0 0 9999px var(--ne-range-background, #e4e5f2);
    outline: solid env(--outlineColor)
}

input[type=range]:disabled::-webkit-slider-runnable-track {
    background: var(--ne-range-disabled-progress-color, #f5f6ff);
    box-shadow: none;
    cursor: not-allowed
}

input[type=range]:disabled::-moz-range-track {
    background: var(--ne-range-disabled-progress-color, #f5f6ff);
    box-shadow: none;
    cursor: not-allowed
}

input[type=range]:disabled::-webkit-slider-thumb {
    background: none var(--ne-range-thumb-disabled-background, #d2d5ea);
    box-shadow: 0 0 0 2px var(--ne-range-background, #e4e5f2), calc(9999px + var(--ne-range-thumb-width, 24px)/2) 0 0 9999px var(--ne-range-disabled-background, #e4e5f2);
    cursor: not-allowed
}

input[type=range]:disabled::-moz-range-thumb {
    background: none var(--ne-range-thumb-disabled-background, #d2d5ea);
    box-shadow: 0 0 0 2px var(--ne-range-background, #e4e5f2), calc(9999px + var(--ne-range-thumb-width, 24px)/2) 0 0 9999px var(--ne-range-disabled-background, #e4e5f2);
    cursor: not-allowed
}

select {
    -webkit-appearance: none;
    appearance: none;
    background: var(--ne-select-icon, url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 6a6 6 0 016-6h12a6 6 0 016 6v12a6 6 0 01-6 6H6a6 6 0 01-6-6V6zm17.415 3.77a.936.936 0 01-1.315.146L12 6.638 7.9 9.916a.936.936 0 01-1.169-1.46l4.684-3.75a.937.937 0 011.17 0l4.684 3.75a.935.935 0 01.146 1.315zm-6 9.525A.937.937 0 0012 19.5a.937.937 0 00.585-.2l4.683-3.746a.937.937 0 00-1.17-1.464L12 17.364l-4.098-3.279a.937.937 0 00-1.17 1.463l4.683 3.747z' fill='%230057FF'/%3E%3C/svg%3E")) no-repeat right var(--ne-select-padding, .5em) center/var(--ne-select-icon-size, 1.5rem);
    background-color: var(--ne-select-background, #fff);
    border: var(--ne-select-border, 2px solid #e5eaf0);
    border-radius: var(--ne-select-border-radius, 10px);
    color: var(--ne-select-foreground, #212121);
    display: block;
    font-family: inherit;
    font-size: 100%;
    letter-spacing: .5px;
    line-height: inherit;
    margin: 0;
    overflow: hidden;
    padding: var(--ne-select-padding, .5em) calc(var(--ne-select-padding, .5em)*2 + var(--ne-select-icon-size, 1.5rem)) var(--ne-select-padding, .5em) var(--ne-select-padding, .5em);
    text-overflow: ellipsis;
    transition: color .1s ease-out;
    width: var(--ne-select-width, 100%)
}

select:hover {
    background-color: var(--ne-select-hover-background, #fff);
    border: var(--ne-select-hover-border, 2px solid #e5eaf0);
    color: var(--ne-select-hover-foreground, #212121)
}

select:focus {
    background-color: var(--ne-select-focus-background, #fff);
    border: var(--ne-select-focus-border, 2px solid #05f);
    color: var(--ne-select-focus-foreground, #212121)
}

select:-moz-focusring {
    -moz-transition: none;
    color: transparent;
    text-shadow: 0 0 0 var(--ne-select-focus-foreground, #212121);
    transition: none
}

select:-moz-focusring * {
    color: var(--ne-select-focus-foreground, #212121);
    text-shadow: none
}

select:disabled {
    background: var(--ne-select-disabled-background, #f5f6ff);
    border: var(--ne-select-disabled-border, 2px solid #f5f6ff);
    color: var(--ne-select-disabled-foreground, #aeb0c2);
    cursor: not-allowed
}

select[multiple] {
    background: var(--ne-select-background, #fff);
    height: auto;
    padding: var(--ne-select-padding, .5em)
}

select[multiple] option {
    padding: .5rem
}

select[multiple] option:checked {
    background: linear-gradient(180deg, var(--ne-select-option-checked-background, #05f), var(--ne-select-option-checked-background, #05f));
    background-color: var(--ne-select-option-checked-background, #05f);
    color: var(--ne-select-option-checked-foreground, #fff)
}

select optgroup {
    font: inherit inherit;
    line-height: inherit;
    margin: 0 0 1rem
}

table {
    background: var(--ne-table-background, transparent);
    border-collapse: collapse;
    width: 100%
}

thead {
    border-bottom: var(--ne-table-head-separator, 2px solid #e5eaf0);
    text-align: left
}

td,
th {
    padding: var(--ne-table-cells-y-padding, 1rem) var(--ne-table-cells-x-padding, 1rem)
}

tr+tr {
    border-top: var(--ne-table-row-separator, 1px solid #e5eaf0)
}

tr:nth-child(2n) {
    background: var(--ne-table-striped-background, transparent)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]) {
    -webkit-appearance: none;
    appearance: none;
    background: var(--ne-textfield-background, #fff);
    border: var(--ne-textfield-border, 2px solid #e5eaf0);
    border-radius: var(--ne-textfield-border-radius, 10px);
    color: var(--ne-textfield-foreground, inherit);
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--ne-textfield-font-weight, 600);
    line-height: inherit;
    min-height: var(--ne-textfield-min-height, 48px)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local])::selection {
    background: var(--ne-textfield-selection-background, #d5d9f6);
    color: var(--ne-textfield-selection-foreground, #212121)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local])::-moz-selection {
    background: var(--ne-textfield-selection-background, #d5d9f6);
    color: var(--ne-textfield-selection-foreground, #212121)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]):-moz-ui-invalid {
    box-shadow: none
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local])::placeholder {
    color: var(--ne-textfield-placeholder-foreground, #b8b8b8);
    font-weight: inherit
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]):hover {
    background: var(--ne-textfield-hover-background, #fff);
    border: var(--ne-textfield-hover-border, 2px solid #e5eaf0);
    color: var(--ne-textfield-hover-foreground, inherit)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]):hover::placeholder {
    color: var(--ne-textfield-hover-placeholder-foreground, #b8b8b8)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]):focus {
    background: var(--ne-textfield-focus-background, #fff);
    border: var(--ne-textfield-focus-border, 2px solid #05f);
    color: var(--ne-textfield-focus-foreground, inherit)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]):focus::placeholder {
    color: var(--ne-textfield-focus-placeholder-foreground, #b8b8b8)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]):disabled {
    background: var(--ne-textfield-disabled-background, #f5f6ff);
    border: var(--ne-textfield-disabled-border, 2px solid #f5f6ff);
    color: var(--ne-textfield-disabled-foreground, #b8b8b8);
    cursor: not-allowed
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]):disabled::placeholder {
    color: var(--ne-textfield-disabled-placeholder-foreground, #bbbfdd)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local])[readonly] {
    background: var(--ne-textfield-background, #fff);
    border: var(--ne-textfield-readonly-border, 2px dashed #e5eaf0);
    color: var(--ne-textfield-readonly-foreground, inherit);
    cursor: default
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local])[readonly]:focus {
    border: var(--ne-textfield-readonly-focus-border, 2px dashed #05f)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local])[readonly]::placeholder {
    color: var(--ne-textfield-disabled-placeholder-foreground, #bbbfdd)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]):required:invalid {
    background: var(--ne-textfield-invalid-background, #fff);
    border-color: var(--ne-textfield-invalid-border-color, #ff4d5e);
    color: var(--ne-textfield-invalid-foreground, inherit)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]):required:invalid:focus {
    outline-color: var(--ne-textfield-invalid-border-color, #ff4d5e)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local]) {
    display: flex;
    padding: var(--ne-textfield-y-padding, .5em) var(--ne-textfield-x-padding, 1em);
    width: var(--ne-textfield-width, 100%)
}

input:matches([type=text], [type=number], [type=email], [type=password], [type=url], [type=tel], [type=search], [type=date], [type=time], [type=month], [type=week], [type=datetime-local])::-webkit-datetime-edit {
    color: var(--ne-textfield-placeholder-foreground, #b8b8b8)
}

input[type=number] {
    -webkit-appearance: textfield;
    appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none
}

input[type=search] {
    -webkit-appearance: none;
    appearance: none;
    outline-offset: -2px
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none
}

textarea {
    -webkit-appearance: none;
    appearance: none;
    background: var(--ne-textfield-background, #fff);
    border: var(--ne-textfield-border, 2px solid #e5eaf0);
    border-radius: var(--ne-textfield-border-radius, 10px);
    color: var(--ne-textfield-foreground, inherit);
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--ne-textfield-font-weight, 600);
    line-height: inherit;
    min-height: var(--ne-textfield-min-height, 48px)
}

textarea::selection {
    background: var(--ne-textfield-selection-background, #d5d9f6);
    color: var(--ne-textfield-selection-foreground, #212121)
}

textarea::-moz-selection {
    background: var(--ne-textfield-selection-background, #d5d9f6);
    color: var(--ne-textfield-selection-foreground, #212121)
}

textarea::placeholder {
    color: var(--ne-textfield-placeholder-foreground, #b8b8b8);
    font-weight: inherit
}

textarea:hover {
    background: var(--ne-textfield-hover-background, #fff);
    border: var(--ne-textfield-hover-border, 2px solid #e5eaf0);
    color: var(--ne-textfield-hover-foreground, inherit)
}

textarea:hover::placeholder {
    color: var(--ne-textfield-hover-placeholder-foreground, #b8b8b8)
}

textarea:focus {
    background: var(--ne-textfield-focus-background, #fff);
    border: var(--ne-textfield-focus-border, 2px solid #05f);
    color: var(--ne-textfield-focus-foreground, inherit)
}

textarea:focus::placeholder {
    color: var(--ne-textfield-focus-placeholder-foreground, #b8b8b8)
}

textarea:disabled {
    background: var(--ne-textfield-disabled-background, #f5f6ff);
    border: var(--ne-textfield-disabled-border, 2px solid #f5f6ff);
    color: var(--ne-textfield-disabled-foreground, #b8b8b8);
    cursor: not-allowed
}

textarea:disabled::placeholder {
    color: var(--ne-textfield-disabled-placeholder-foreground, #bbbfdd)
}

textarea[readonly] {
    background: var(--ne-textfield-background, #fff);
    border: var(--ne-textfield-readonly-border, 2px dashed #e5eaf0);
    color: var(--ne-textfield-readonly-foreground, inherit);
    cursor: default
}

textarea[readonly]:focus {
    border: var(--ne-textfield-readonly-focus-border, 2px dashed #05f)
}

textarea[readonly]::placeholder {
    color: var(--ne-textfield-disabled-placeholder-foreground, #bbbfdd)
}

textarea:required:invalid {
    background: var(--ne-textfield-invalid-background, #fff);
    border-color: var(--ne-textfield-invalid-border-color, #ff4d5e);
    color: var(--ne-textfield-invalid-foreground, inherit)
}

textarea:required:invalid:focus {
    outline-color: var(--ne-textfield-invalid-border-color, #ff4d5e)
}

textarea {
    height: auto;
    padding: var(--ne-textfield-y-padding, .5em) var(--ne-textfield-x-padding, 1em);
    resize: var(--ne-textfield-resize-direction, vertical);
    width: var(--ne-textfield-width, 100%)
}

textarea::-webkit-datetime-edit-text {
    opacity: .3
}

textarea:-moz-ui-invalid {
    box-shadow: none
}

input[type=file] {
    font-size: inherit;
    overflow: hidden;
    width: 100%
}

input[type=file]::-webkit-file-upload-button {
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    align-items: center;
    appearance: none;
    background: var(--ne-button-background, #05f);
    border: var(--ne-button-border, 0);
    border-radius: var(--ne-button-border-radius, 10px);
    box-shadow: var(--ne-button-shadow, 0 1px 2px rgba(0, 0, 0, .16));
    color: var(--ne-button-foreground, #fff);
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: var(--ne-button-font-size, inherit);
    justify-content: center;
    line-height: var(--ne-button-line-height, 1);
    margin: 0;
    padding: var(--ne-button-y-padding, .7em) var(--ne-button-x-padding, 1em);
    text-decoration: initial;
    user-select: none;
    white-space: nowrap
}

input[type=file]::-webkit-file-upload-button:hover {
    background: var(--ne-button-hover-background, #1a66ff);
    border: var(--ne-button-hover-border, 0);
    color: var(--ne-button-hover-foreground, #fff)
}

input[type=file]::-webkit-file-upload-button:active {
    background: var(--ne-button-active-background, #004ce6);
    border: var(--ne-button-active-border, 0);
    color: var(--ne-button-active-foreground, #fff)
}

input[type=file]::-webkit-file-upload-button:disabled,
input[type=file]::-webkit-file-upload-button:disabled:active,
input[type=file]::-webkit-file-upload-button[aria-disabled=true],
input[type=file]::-webkit-file-upload-button[aria-disabled=true]:active {
    background: var(--ne-button-disabled-background, #f5f6ff);
    border: var(--ne-button-disabled-border, 0);
    box-shadow: none;
    color: var(--ne-button-disabled-foreground, #d2d5ea);
    cursor: not-allowed
}

input[type=file]::-webkit-file-upload-button {
    margin-right: 16px
}

input[type=file]::-webkit-file-upload-button+span {
    color: red
}